.p-tab {
  border-left: 1px solid #e2e8f0;
  background-color: white;
}

.p-tab-active {
  background-color: #f59e0b;
  color: white;
  border-bottom: none;
}

.p-tablist-active-bar {
  background: none !important;
}
