@if (!loading) {
<section class="grid grid-cols-1 gap-10 p-5">
  <!-- First Row -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
    <div>
      <app-review-distribution [reviewDistribution]="reviewDistribution" />
    </div>
    <div class="lg:col-span-2">
      <app-daily-reviews-by-branch [dailyPerBranch]="dailyPerBranch">
      </app-daily-reviews-by-branch>
    </div>
  </div>

  <!-- Second Row -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
    <div>
      <app-daily-per-employee
        [dailyPerEmployee]="dailyPerEmployee"
      ></app-daily-per-employee>
    </div>
    <div>
      <app-avg-rating-per-branch
        [ratingPerBranch]="ratingPerBranch"
      ></app-avg-rating-per-branch>
    </div>
    <div>
      <app-avg-rating-per-month
        [ratingPerMonth]="ratingPerMonth"
      ></app-avg-rating-per-month>
    </div>
  </div>

  <!-- Third Row -->
  <!-- <div>
    <app-comments-table />
  </div> -->

  <!-- Fourth Row -->
  <app-employee-data></app-employee-data>
</section>
}
