.p-menu {
  display: flex;
  flex-wrap: wrap;
  width: 400px; /* adjust */
}

.custom-menu-item {
  width: 25%;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-menu-item i {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
