@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cairo";
  scroll-behavior: smooth;
}

input,
textarea,
select {
  min-width: 300px;
}
